@boja-naslov:hsl(205, 67%, 29%);
@boja-teksta-kvadrata:black;

.k5-base() {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-md-5k, .col-lg-5k{
    .k5-base;
}

.naslov {
	h1 {
		color:@boja-naslov;
		font-family: "Roboto Condensed", sans-serif;
		font-weight: bold;
	}
}

.kvadrati {
  margin-top: 3%;
      a{
      color:@boja-teksta-kvadrata;
    }
  }