@boja-naslov: hsl(205, 67%, 29%);
@boja-teksta-kvadrata: black;
@boja-kvadrata-1: #75957a;
@boja-kvadrata-2: #82b781;
@boja-kvadrata-3: #b5be85;
@boja-kvadrata-4: #c8cb61;
@boja-kvadrata-5: #8ab5db;
@boja-kvadrata-6: #de7646;
@boja-kvadrata-7: #deb33d;
@boja-kvadrata-8: #4fc2c6;
@boja-kvadrata-9: #915fa8;
@boja-kvadrata-10: #67aa58;
@boja-pozadina-info_footer: #18527b;

@font_centralni_kvadrati: "Roboto Condensed", sans-serif;

@padding_centralni_kvadrati: 5%;
@visina_kvadrata_sadrzaj: 100%-(2*@padding_centralni_kvadrati);

@phone: ~"only screen and (max-width:767px)";
@tablet: ~"only screen and (min-width:768px)";
@laptop: ~"only screen and (min-width:992px)";
@desktop: ~"only screen and (min-width:1200px)";


.k5-base() {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;

  @media @laptop,
  @desktop {
    width: 20%;
    float: left;
  }
}

.kvadrat_bg_image() {
  background-repeat: no-repeat;
  background-size: 37%;
  background-position: right 50% bottom 15%;
}

.col-md-5k,
.col-lg-5k {
  .k5-base;
}

.mainbg {
  @media @tablet {
    background-image: url(/images/back-02.jpg);
    background-size: 130%;
    /* Safari 6.0 - 9.0 */
  }

  @media @laptop {
    background-image: url(/images/back.jpg);
    background-size: 150%;
  }
}

.naslov {
  h1 {
    color: @boja-naslov;
    font-family: @font_centralni_kvadrati;
    font-weight: bold;
  }
}

.red-kvadrati {
  margin-top: 3%;

  a {
    color: @boja-teksta-kvadrata;
  }
}

.kvadrat {
  @media @tablet {
    position: relative;
    padding-bottom: 25%;
    overflow: hidden;
  }

  @media @laptop,
  @desktop {
    padding-bottom: 20%;
  }
}

.centralni_kvadrati {
  .content {
    position: absolute;
    height: @visina_kvadrata_sadrzaj;
    width: @visina_kvadrata_sadrzaj;
    padding: @padding_centralni_kvadrati;
    text-align: center;
    font-family: @font_centralni_kvadrati;
    font-weight: bold;

    @media @tablet {
      font-size: 1.2vw;
    }

    @media @laptop {
      font-size: 1.1vw;
    }

    @media @desktop {
      font-size: 1vw;
    }
  }

  @counter: 1;
  .slike(@i) when (@i < 11) {
    .bg-@{i} {
      background-image: url('/images/@{i}.png');
      @bg_test: "boja-kvadrata-@{i}";
      background-color: @@bg_test;
      .kvadrat_bg_image;
    }
    .slike((@i + 1));
  }
  .slike(@counter);

  .dodatni-kvadrat {
    background-color: #f1f368;
    font-size: 3em;

    @media @tablet {
      font-size: 3vw;
    }

    @media @laptop {
      display: none;
    }

    @media @desktop {
      font-size: 1vw;
    }
  }
}

.info {
  background-color: @boja-pozadina-info_footer;
  margin-top: 5%;
  font-family: @font_centralni_kvadrati;

  &-vesti-naslov {
    border-top: @boja-kvadrata-1 10px solid;
    text-align: center;
    color: white;
  }

  &-vesti-content {
    background-color: #8db2d4;
    text-align: center;
    width: 100%;
    padding: 1%;
    color: #000000;
    border: 4px #75957a solid;

  }

  &-vesti-text th{
    text-align: center;
  }

  &-vesti
}